.header {
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
a {
    background-color: transparent;
    color: #04aa6d;
}
.input {
    height: 20px;
    padding: 10px;
}
input {
    border: 1px solid black;
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
}